<div><div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="data_dojo_props_diff: {
	_sc_extensibility_operation:'insert',_sc_extensibility_moveOrder:'1', 
	_sc_extensibility_referenceUId:'radDraftOrderFlag' ,uId:'extn_FSChannel',_sc_extensibility_position:'before'  
	,scExtensionDataFn:function(){return{ 
	label:this.getBundleString('Channel'), bindingData:{optionsBinding :{valueField:'CodeValue',path:'CommonCodeList.CommonCode',
	descriptionField:'CodeShortDescription',namespace:'extn_getEntryTypeList'},targetBinding:[{path:'Order.EntryType',
	scExtensibilityArrayItemId:'extn_TargetBindings_0',namespace:'getAdvancedOrderList_input'}],
	sourceBinding:{path:'Order.EntryType',namespace:'screenInput'}}}}}">
</div></div>