<div><div data-dojo-type="gridx/Grid" data-dojo-props="data_dojo_props_diff: {
	_sc_extensibility_operation : 'change', _sc_extensibility_referenceUId:'listGrid',scExtensionDataFn:
	function(){ return { 
			structure : [ {field :'extn_EntryType', _sc_extensibility_operation :'insert',
			bindingData :{sFieldBinding :{path :'DisplayEntryType'}},
			_sc_extensibility_moveOrder :'1',_sc_extensibility_referenceUId:'tblColOrderDate',width :'10%',
			name : this.getSimpleBundleString('Channel'),uId :'extn_tblColEntryType', _sc_extensibility_position :'after'}]}}}">
</div></div>